*.vsidx
/Projeto Banco Central/BancoCentralSLN/BancoCentral/bin
/Projeto Banco Central/BancoCentralSLN/.vs/BancoCentralSLN/v17
/Projeto Banco Central/BancoCentralSLN/.vs/BancoCentralSLN/v17
/Projeto Banco Central/BancoCentralSLN/BancoCentral/obj
*.cache
*.v2
*.v2
